 
 
 
    <!--Footer-->
    <footer class="page-footer center-on-small-only light-blue darken-3">

     

            <!--Copyright-->
            <div class="footer-copyright">
                <div class="container-fluid">
                    © 2015 Copyright:
                    <a href="https://www.MDBootstrap.com"> MDBootstrap.com </a>

                </div>
            </div>
            <!--/.Copyright-->

    </footer>
    <!--/.Footer-->

 
 
 <!-- JQuery -->
  <script type="text/javascript" src="/body/js/jquery-3.1.1.min.js"></script>

  <!-- Bootstrap dropdown -->
  <script type="text/javascript" src="/body/js/popper.min.js"></script>

  <!-- Bootstrap core JavaScript -->
  <script type="text/javascript" src="/body/js/bootstrap.min.js"></script>

  <!-- MDB core JavaScript -->
  <script type="text/javascript" src="/body/js/mdb.min.js"></script>