body{
    width:100% !important 
}

.mycss-holder{
margin-left:1%;
}

.mycss-h3{
    color: darkred;
    margin-left: 3%
}

.mycss-service-pointer{
    margin-right:2%;
    color: darkred;
}

.mycss-h4{
    margin-bottom: 3%;
    margin-left: 3%
    
}
















/* margin */
